body {
  font-family: Arial, sans-serif;
  background-image: url(/fullstack-foxes/Bilder/bg-randomizer.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 220px;
}

.container {
  height: 140px;
  width: 250px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fffb00;
  
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}
.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #2422a5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Courgette', cursive;
  background-color: brown;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courgette', cursive;
  background-color: rgb(165, 42, 42);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}